services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=pm_db
      - POSTGRES_USER=pm_user
      - POSTGRES_PASSWORD=pm_password
    ports:
      - "5433:5432"

volumes:
  postgres_data: